body {
  background: var(--global-neutral-black);
  min-height: 100vh;

  #main {
    width: min(80dvw, 1400px);
    margin-inline: auto;
  }

  @media (width < 992px) {
    #main {
      width: calc(100dvw - 8rem);
    }
  }
}