body:has(.pokemon-list__wrapper) {
  background: var(--global-neutral-black);
  min-height: 100vh;
  padding-inline: 10vw;

  .pokemon-list__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    > * {
      flex: 0 1 calc(25% - (24px * 3) / 4);
    }
  }
}