$component-name: btn;

.#{$component-name} {
  position: relative;
  display: inline-flex;
  width: 100%;
  align-items: center;
  font-family: var(--global-font-family-uno);
  background: none;
  outline: none;
  border: none;
  color: var(--global-neutral);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;

  &::placeholder {
    width: fit-content;
    font-family: var(--global-font-family-uno);
    color: var(--global-neutral);
    font-size: 1.5rem;
  }

  &:focus-visible {
    outline-color: var(--global-neutral-transparent);
  }

  img, i {
    height: 30px;
    width: auto;
    filter: brightness(0) invert(1);
  }
}

.#{$component-name}[type="submit"] {
  padding: 0.5rem 0.25rem;
  width: fit-content;
}

.#{$component-name}.search {
  margin-right: 0.75rem;
}

.#{$component-name}.random {
  padding: 0.5rem 0.25rem;
  width: fit-content;
}