$component-name: select;

.#{$component-name} {
  display: inline;
  align-items: center;
  font-family: var(--global-font-family-uno);
  background: none;
  outline: none;
  border: none;
  color: var(--global-neutral);
  font-size: 1.5rem;
  padding: 8px 16px;
  border-radius: 8px;

  &::placeholder {
    font-family: var(--global-font-family-uno);
    color: var(--global-neutral);
    font-size: 1.5rem;
  }

  &:focus-visible {
    outline-color: var(--global-neutral-transparent);
  }

  option {
    background: rgba(255, 255, 255, 0.22);
    color: var(--global-neutral-black);
  }
}