$component-name: select;

.#{$component-name} {
  position: relative;
  display: inline-flex;
  width: 100%;
  align-items: center;
  font-family: var(--global-font-family-uno);
  outline: none;
  border: none;
  color: var(--global-neutral);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: var(--global-neutral-transparent-white);

  &::placeholder {
    width: fit-content;
    font-family: var(--global-font-family-uno);
    color: var(--global-neutral);
    font-size: 1.5rem;
  }

  &:focus-visible {
    outline-color: var(--global-neutral-transparent);
  }

  option {
    background: rgba(255, 255, 255, 0.22);
    color: var(--global-neutral-black);
  }
}