$component-name: header;

.#{$component-name} {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 1.25rem 0;
  justify-content: center;

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background: var(--global-neutral-transparent-white);
    width: min(60dvw,500px);
    border-radius: 8px;
  }
}

@media (width < 992px) {
  .#{$component-name} {
    padding: 2.5rem 0 1.25rem 0;
  }
}
@media (width < 576px) {
  .#{$component-name} {
    form {
      width: calc(100dvw - 8rem);
    }
  }
}