$component-name: nav;

.#{$component-name} {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 4rem;
  background: var(--global-neutral-transparent-white);
  transition: var(--global-transition);

  &.show {
    background: var(--global-neutral-black);
    width: max(50dvw, 750px);

    .#{$component-name}__content {
      display: flex;

      .card-container {
        opacity: 1;
      }
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 0;
    width: 4rem;
    height: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) rotate(0deg);
    filter: brightness(.8);
    transition: var(--global-transition);

    &:hover {
      transform: translate(-50%, -50%) rotate(-45deg);
      filter: brightness(1);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    display: none;
    padding: 2rem 3rem;
    flex-direction: column;
    gap: 2rem;
    height: 100dvh;

    form{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: .5rem;
      height: fit-content;
      background: var(--global-neutral-transparent);
      width: 100%;
    }

    .card-container {
      opacity: 0;
      transition-delay: .5s;
      transition: var(--global-transition-opacity);
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      width: 100%;
      height: 100%;
      padding-right: 1rem;

      --sb-track-color: var(--global-neutral-black);
      --sb-thumb-color: var(--global-neutral-white);
      --sb-size: 10px;

      scrollbar-color: var(--sb-thumb-color)
      var(--sb-track-color);

      &::-webkit-scrollbar {
        width: var(--sb-size)
      }

      &::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 10px;

      }
    }
  }
}

@media (width < 1200px) {
  .#{$component-name} {

    &.show {
      width: calc(100dvw - 2.5rem);
    }
  }
}

@media (width < 992px) {
  .#{$component-name} {
    top: inherit;
    bottom: 0;
    width: 100%;
    height: 4rem;

    &.show {
      width: 100dvw;
      height: 100dvh;

      .#{$component-name}__button {
        top: calc(100% - 2.5rem);
      }
    }

    &__button {
      position: fixed;
      top: calc(100% - 4rem);
      left: calc(100% - 2.5rem);
    }

    &__content {
      flex-direction: column-reverse;
      height: 100dvh;
      padding: 2rem;
    }
  }
}