$component-name: pokemon;

.#{$component-name} {
  position: relative;

  &__pokedex-id {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    font-size: clamp(18.75rem, 14.5982rem + 6.6964vw, 20.625rem);
    font-variation-settings: "wght" var(--global-font-weight-bold);
    color: var(--global-neutral-transparent-white);
  }

  .pokemon-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6rem;
    gap: 0.5rem;

    &__identity {
      flex: 1 1 40%;
      display: flex;
      flex-direction: column;

      .pokemon-types {
        display: flex;
        gap: 0.75rem;
        margin-bottom: 0.5rem;

        > * {
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;

          font-size: clamp(1rem, -0.1071rem + 1.7857vw, 1.5rem);
          background: var(--global-neutral-transparent-white);
          padding: 0.5rem 1.25rem 0.5rem .75rem;
          border-radius: 999px;

          > img {
            height: 32px;
            width: auto;
          }
        }
      }

      .pokemon-name {
        font-size: clamp(3rem, -3.6429rem + 10.7143vw, 6rem);
        font-variation-settings: "wght" var(--global-font-weight-bold);
        line-height: 1;
      }
    }

    &__images {
      flex: 1 1 60%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      gap: 1rem;

      .pokemon-current {
        flex: 1 1 auto;

        img {
          width: 100%;
          height: auto;
          max-height: 45dvh;
          max-width: 45dvh;
          transform: translateY(10%);
          pointer-events: none;
        }
      }

      .pokemon-evolutions {
        flex: 0 1 20%;

        .pokemon-evolutions__next,
        .pokemon-evolutions__prev {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          img {
            height: 10dvh;
            max-height: 10dvw;
            width: auto;
            transform: translateY(10%);
            pointer-events: none;
          }

          .pokemon-name {
            font-size: clamp(1rem, -0.1071rem + 1.7857vw, 1.5rem);
            font-variation-settings: "wght" 550;
            line-height: 1;
          }
        }
      }
    }
  }

  .pokemon-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3rem;

    &__title {
      flex: 0 1 fit-content;
      font-size: clamp(2rem, -2.4286rem + 7.1429vw, 4rem);
      font-variation-settings: "wght" var(--global-font-weight-bold);
      line-height: 1;
    }

    &__wrapper {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  @media (width < 1200px) {
    .pokemon-top {
      margin-bottom: 4rem;
    }

    .pokemon-bottom {
      flex-direction: column;
      gap: 2rem;

      &__title {
        flex: 1 1 100%;
      }

      &__wrapper {
        flex: 1 1 100%;
        width: 100%;
      }
    }
  }

  @media (width < 992px) {
    .#{$component-name}__pokedex-id {
      font-size: clamp(7.5rem, 2.6228rem + 26.0116vw, 18.75rem);
    }

    .pokemon-top {
      flex-direction: column-reverse;
      gap: 3rem;

      &__identity {
        flex: 1 1 100%;
        width: 100%;
        align-items: center;
      }

      &__images {
        flex: 1 1 100%;
        width: 100%;

        .pokemon-current {
          img {
            transform: translateY(5%);
          }
        }

        .pokemon-evolutions {

          .pokemon-evolutions__next,
          .pokemon-evolutions__prev {

            img {

              transform: translateY(5%);
            }
          }
        }
      }
    }

    .pokemon-bottom {
      margin-bottom: 6rem;
    }
  }

  @media (width < 576px) {
    .pokemon-top {
      &__images {
        flex-direction: column;

        .pokemon-evolutions {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 2rem;
        }
      }
    }
  }
}