/* stylelint-disable */

:root {
  --fire: #ff7402;
  --grass: #33a165;
  --steel: #00858a;
  --water: #0050ac;
  --psychic: #c90086;
  --ground: #c90086;
  --ice: #70deff;
  --flying: #5d4e75;
  --ghost: #4d5b64;
  --normal: #753845;
  --poison: #7e0058;
  --rock: #6e1a00;
  --fighting: #634136;
  --dark: #272625;
  --bug: #6e1a00;
  --dragon: #00c431;
  --electric: #bba909;
  --fairy: #d31c81;
  --unknow: #757575;
  --shadow: #29292c;

  // Familles de Fonts
  --global-font-family-native: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --global-font-family-uno: Montserrat, var(--global-font-family-native);

  // Fonts weights
  --global-font-weight: 400;
  --global-font-weight-thin: 300;
  --global-font-weight-bold: 700;


  // Neutral colors: nuances de gris
  --global-neutral-00: #fff;
  --global-neutral-1000: #1F2029;

  --global-neutral-transparent: rgba(255, 255, 255, 0);
  --global-neutral-transparent-white: rgba(255, 255, 255, 0.22);
  --global-neutral-transparent-black: rgba(0, 0, 0, 0.22);
  --global-neutral-white: var(--global-neutral-00);
  --global-neutral-black: var(--global-neutral-1000);
  --global-neutral: var(--global-neutral-white);

  // Les transitions
  --global-transition-opacity: opacity padding 0.5s ease-in-out;
  --global-transition: all 0.5s ease-in-out;
}
/* stylelint-enable */